 nav{
    background-color: rgb(255, 102, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px ;
    padding-right: 30px;
    height: 30px;
 }
 a{
    margin: 20px;
    font-weight: 100;
    font-weight: bold;
    color: white;
 }
 button{
    margin-left: 20px;
    background-color: black;
    color: white;
 }
 h1{
    text-align: center;
 }
 #id{
    color: blue;
 }
 .header{
    background-image: url('https://thumbs.dreamstime.com/b/world-landmarks-photo-collage-isolated-white-background-travel-tourism-study-around-world-concept-94753893.jpg?w=1400');
    width: 100%px;
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    
 }
 .header h1{
    font-size: 100px;
    margin-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(42, 67, 165);
 }
 .add{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 60px;
    justify-content: center;
    padding-top: 80px;
 }
.place1 {
border: 5px solid blue;
padding-left: 20px;
text-align: center;
margin-left: 50px;
margin-right: 50px;
}
.place2{
    border: 5px solid rgb(0, 255, 174);
    margin-right: 50px;
    text-align: center;
}
.place3{
    border: 5px solid rgb(255, 0, 72);
    margin-right: 50px;
    text-align: center;
}
.photo{
    display: flex;
    justify-content: center;

}
img{

    width: 300px;
    height: 300px;
    box-shadow: brown;
    
}
.to{
    margin-left: 200px;
    
}
figcaption{
    text-align: center
    ;
    text-shadow: 0cap salmon ;
}